[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
secure = "*"
environs = "*"
sanic-envconfig = "*"
sanic = "*"
databases = {extras = ["postgresql"], version = "*"}
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
